@font-face {
	font-family: "Gilroy-Light";
	src: url("/fonts/Gilroy-Thin.ttf");
}
@font-face {
	font-family: "Gilroy-Regular";
	src: url("/fonts/Gilroy-Regular.ttf");
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url("/fonts/Gilroy-Medium.ttf");
}
@font-face {
	font-family: "Gilroy-Bold";
	src: url("/fonts/Gilroy-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}

	h1 {
		@apply text-primary font-bold font-familybold text-shadow-100;
	}
	h2 {
		@apply text-secondary text-[#00FF66] font-semibold font-familybold text-shadow-200;
	}
	h3 {
		@apply text-subtitle font-familymedium text-shadow-200;
	}
}

@layer utilities {
	.text-gradient {
		color: transparent;
		background-clip: text;
		background-size: cover;
		background-position: center;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-repeat: no-repeat;
		filter: contrast(1) drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.2));
	}

	.text-gradient-100 {
		@apply text-gradient;
		background-image: linear-gradient(to bottom, #d9ffe8, #06ff9c 10%);
	}

	.text-shadow-100 {
		text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
	}
	.text-shadow-200 {
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	}

	.flex-row {
		@apply flex items-center align-middle justify-center flex-nowrap;
	}
	.flex-column {
		@apply flex flex-col items-start justify-center;
	}

	.p-section {
		padding: max(3%, 1.5rem) 0 1em;
	}
	.dp-shad-green {
		filter: drop-shadow(1px 1px 2px #05ff00);
	}

	.bg-img-roadmap {
		@apply w-full h-full bg-cover bg-center bg-no-repeat;
		background-image: url("/public/images/roadmap.png");
	}

	.bg-img-hero {
		@apply w-full bg-no-repeat;
		background-image: linear-gradient(140deg, black 10%, transparent),
			url("/public/images/bg-hero.png");
		background-size: cover;
		background-position: center, right bottom;
		mix-blend-mode: screen;
	}

	.radial {
		position: absolute;
		background: radial-gradient(
			circle at center,
			rgba(1, 67, 27, 0.7) 15%,
			rgba(255, 250, 234, 0) 50%
		);
		width: var(--radial-size);
		height: var(--radial-size);
		top: calc(50% - 200px);
		left: 20%;
		mix-blend-mode: hard-light;
	}
	.h-features {
		min-height: min(370px, 60vh);
	}
	.i-reset {
		@apply border-none outline-none focus:outline-none bg-transparent text-ellipsis whitespace-nowrap transition-all overflow-hidden;
	}

	@media (max-width: 640px) {
		.bg-img-hero {
			@apply w-full bg-no-repeat;
			background-image: linear-gradient(180deg, black 10%, transparent),
				url("/public/images/bg-hero.png");
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
	}
}

@layer components {
	.grid-columns-two {
		grid-template-columns: auto 1fr;
	}
	.grid-cols-features {
		grid-auto-flow: column;
		grid-auto-columns: 28%;
		overflow: auto hidden;
		overscroll-behavior-inline: contain;
	}
	.grid-cols-roadmap {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.grid-cols-collection {
		grid-template-columns: repeat(3, minmax(320px, 1fr));
	}
}
